<div class="card shadow-sm equal-height-card">
    <div class="card-header fw-bold d-flex align-items-center">
        <h4>
            <i class="fa fa-chart-line me-2"></i>
            <span>Weekly Orders</span>
        </h4>
    </div>
    <div class="card-body" [style.height]="'calc(100dvh - 415px)'">
        <div [@chartAnimation] [@chartUpdate]="animationState">
            <apx-chart [series]="chartOptionsRevenue.series" [chart]="chartOptionsRevenue.chart"
                [xaxis]="chartOptionsRevenue.xaxis" [yaxis]="chartOptionsRevenue.yaxis"
                [dataLabels]="chartOptionsRevenue.dataLabels" [stroke]="chartOptionsRevenue.stroke"
                [colors]="chartOptionsRevenue.colors" [markers]="chartOptionsRevenue.markers"
                [tooltip]="chartOptionsRevenue.tooltip" [legend]="chartOptionsRevenue.legend"
                [grid]="chartOptionsRevenue.grid" [responsive]="chartOptionsRevenue.responsive">
            </apx-chart>
        </div>
    </div>
</div>