<div class="author-events-content animate-route">

  <!-- Hero -->
  <section class="lp-section">
    <app-events-hero
      [title]="settings['hero_title']"
      [subtitle]="settings['hero_desc']"
      [background]="'assets/img/landing/home/hero/bg.png'">
    </app-events-hero>
  </section>

  <!-- Featured Event -->
  <section class="lp-section">
    <app-featured-event
      [sectionTitle]="settings['featured_event_title']"
      [event]="pre?.featuredEvent">
    </app-featured-event>
  </section>

  <!-- Calendar -->
  <section class="lp-section bg-light">
    <app-events-calendar
      [sectionTitle]="settings['calendar_title']"
      [events]="pre?.calendarEvents">
    </app-events-calendar>
  </section>

  <!-- Upcoming Events -->
  <section class="lp-section">
    <app-upcoming-events
      [sectionTitle]="settings['upcoming_events_title']"
      [events]="pre?.upcomingEvents">
    </app-upcoming-events>
  </section>

  <!-- Past Events -->
  <section class="lp-section bg-light">
    <app-past-events
      [sectionTitle]="settings['past_events_title']"
      [events]="pre?.pastEvents">
    </app-past-events>
  </section>

</div>
