.order-demo-section {
    background: linear-gradient(90deg, #A82EDE 0%, #9228c2 100%);
    position: relative;
    overflow: hidden;
}

.order-demo-section h2 {
    font-size: 50px;
}

.order-demo-section p {
    font-size: 26px;
    line-height: 46px;
    font-weight: 200;
}

.order-demo-section .btn {
    font-weight: 500;
}

.order-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 550px;
    pointer-events: none;

}

.order-img {
    position: relative;
    right: -40%;
    width: 50%;
    max-width: 320px;
     filter: drop-shadow(0 0 120px rgba(255, 0, 225, 1));
}

@media screen and (max-width: 768px) {
    .order-img {
        right: -23%;
    }
}

.btn-order {
  position: relative;
  background: #fff; /* خلفية بيضاء */
  color: #000; /* النص أسود */
  border-radius: 999px;
  font-weight: 600;
  padding: .6rem 1.4rem;
  box-shadow: 0 10px 22px rgba(0, 0, 0, .15); /* ظل خفيف */
  overflow: hidden;
  background-size: 200% 100%;
  transition: background-position .35s ease, transform .25s ease, box-shadow .25s ease, color .25s ease;
  border: none;
}

.btn-order::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 50%,  /* شيمر غامق خفيف */
      rgba(0, 0, 0, 0) 100%);
  transform: skewX(-20deg);
}

.btn-order:hover,
.btn-order:focus {
  color: #000; /* يضل النص أسود */
  background: #fff; /* الخلفية بيضا */
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25); /* ظل أقوى عند الهوفر */
}

.btn-order:hover::after,
.btn-order:focus::after {
  animation: shimmer 0.6s ease forwards;
}

@keyframes shimmer {
  0% { left: -75%; }
  100% { left: 125%; }
}
