<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{ option ? 'Edit' : 'Add New' }} Option</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <!-- Name -->
      <div class="col-md-6">
        <label class="form-label">Name <span class="text-danger">*</span></label>
        <input class="form-control" formControlName="name" placeholder="Enter option name"
          [ngClass]="{ 'is-invalid': submitted && f['name'].invalid, 'is-valid': submitted && f['name'].valid }" />
        <div *ngIf="submitted && f['name'].invalid" class="invalid-feedback">
          Name is required.
        </div>
      </div>

      <!-- Value -->
      <div class="col-md-6">
        <label class="form-label">Value <span class="text-danger">*</span></label>
        <input type="number" class="form-control" formControlName="value" placeholder="Enter value" min="0"
          [ngClass]="{ 'is-invalid': submitted && f['value'].invalid, 'is-valid': submitted && f['value'].valid }" />
        <div *ngIf="submitted && f['value'].invalid" class="invalid-feedback">
          <div *ngIf="f['value'].errors?.['required']">Value is required.</div>
          <div *ngIf="f['value'].errors?.['min']">Value must be greater than or equal to 0.</div>
        </div>
      </div>

      <!-- Type -->
      <div class="col-md-12 mt-3">
        <label class="form-label">Type <span class="text-danger">*</span></label>
        <select class="form-select" formControlName="type"
          [ngClass]="{ 'is-invalid': submitted && f['type'].invalid, 'is-valid': submitted && f['type'].valid }">
          <option value="">Select type</option>
          <option *ngFor="let type of typeOptions" [value]="type.value">{{ type.label }}</option>
        </select>
        <div *ngIf="submitted && f['type'].invalid" class="invalid-feedback">
          Type is required.
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" (click)="activeModal.dismiss()">
      <i class="fe fe-x me-2"></i>Close
    </button>

    <button type="submit" class="btn btn-sm btn-custom" [disabled]="(httpService.getLoading('addEditOption') | async)">
      <ng-container *ngIf="(httpService.getLoading('addEditOption') | async)">
        <span class="spinner-border spinner-border-sm me-2"></span> Saving...
      </ng-container>
      <ng-container *ngIf="!(httpService.getLoading('addEditOption') | async)">
        <i class="fe fe-check me-2"></i> Save
      </ng-container>
    </button>
  </div>
</form>
