<section class="bestselling-section py-4" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1200">
    <div class="container">
        <!-- Section Title -->
        <h2 class="fw-bold mb-4">{{ title }}</h2>

        <div class="first-row mb-4"> <app-slider [items]="firstRow" type="card" [slidesPerView]="4" direction="ltr">
            </app-slider>
        </div>

        <div class="secund-row">
            <app-slider [items]="secondRow" type="card" [slidesPerView]="4" direction="rtl">
            </app-slider>
        </div>
    </div>
</section>