<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <h2 class="header-title">
            <lucide-icon [name]="'mail'"></lucide-icon>
            Contact Messages <small>({{ totalCount }})</small>
            <span *ngIf="unreadCount > 0" class="badge bg-warning ms-2"
              >{{ unreadCount }} Unread</span
            >
          </h2>
        </div>
        <div class="col-auto"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div
        class="d-flex align-items-center input-group-merge input-group-flush input-group position-relative w-50"
      >
        <i class="fe fe-search text-muted position-absolute mb-1 me-3"></i>
        <input
          [(ngModel)]="searchText"
          class="form-control m-0 ps-4"
          placeholder="Type to search..."
          (ngModelChange)="onSearchChange()"
        />
      </div>

      <div class="d-flex align-items-center gap-3">
        <button
          class="btn btn-sm btn-danger d-flex align-items-center gap-2"
          (click)="reset()"
        >
          <i class="fe fe-rotate-ccw"></i>
          <span>Reset</span>
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-nowrap card-table table-hover">
        <thead>
          <tr>
            <th class="w-10">#NO</th>
            <th class="w-25">Name</th>
            <th class="w-25">Email</th>
            <th class="w-30">Message</th>
            <th class="w-10">Actions</th>
          </tr>
        </thead>

        <!-- Loading skeletons -->
        <tbody *ngIf="isLoading$ | async">
          <tr *ngFor="let number of [].constructor(size + 1)">
            <td *ngFor="let i of [].constructor(5)">
              <ngx-skeleton-loader
                appearance="line"
                animation="progress-dark"
                [theme]="{
                  width: '50%',
                  height: '24px',
                  'border-radius': '3px',
                  margin: '0'
                }"
              >
              </ngx-skeleton-loader>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!(isLoading$ | async)">
          <tr
            *ngFor="let contactMessage of contactMessages; let i = index"
            [class.table-warning]="!contactMessage.is_read"
          >
            <td>#{{ i + 1 }}</td>
            <td>
              {{ contactMessage.name }}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <i class="fe fe-mail me-2 text-muted"></i>
                {{ contactMessage.email }}
              </div>
            </td>
            <td [ngbTooltip]="contactMessage.message" container="body">
              {{ contactMessage.message | maxLength : 50 }}
            </td>
            <td>
              <div class="btn-group dropstart">
                <span data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fe fe-more-vertical black-menu fs-2"></i>
                </span>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" (click)="delete(contactMessage)">
                      <i class="fe fe-trash-2 text-danger me-2"></i>
                      <span class="text-danger">Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-no-results
      [isLoading$]="isLoading$"
      [totalRecords]="totalCount"
    ></app-no-results>
    <app-pagination
      [isLoading$]="isLoading$"
      [totalRecords]="totalCount"
      [size]="size"
      (pageChange)="list($event)"
    >
    </app-pagination>
  </div>
</div>
