<div class="customer-container">
    <h2 class="customer-title">Customers</h2>

    <div class="content">
        <div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-4 border-0 my-3">
            <!-- Left side (search, bulk, filter) -->
            <div class="d-flex align-items-center gap-3 flex-wrap flex-grow-1 d-none d-md-flex">

                <!-- Search -->
                <div class="search-wrap position-relative flex-grow-1" style="max-width: 260px;">
                    <i class="fe fe-search text-muted position-absolute"></i>
                    <input [(ngModel)]="searchText" class="form-control ps-5"
                        placeholder="Search by name, email or phone..." (ngModelChange)="onSearchChange()" />
                </div>

                <button class="btn btn-action btn-action-filter d-flex align-items-center gap-1" style="background-color: #fff;">
                    <i class="fe fe-filter"></i> Filters
                </button>

            </div>

            <!-- Right side (Add button) -->
            <div>

                <!-- Filter (status only for now) -->
                <div class="d-flex align-items-center gap-2">
                    <!-- Bulk actions -->
                    <div class="dropdown">
                        <button class="btn btn-action btn-action-bulk dropdown-toggle" data-bs-toggle="dropdown">
                            Bulk Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" (click)="bulkArchive()"
                                    [disabled]="selectedIds.size === 0">Archive</button></li>
                            <li><button class="dropdown-item" (click)="bulkArchive()"
                                    [disabled]="selectedIds.size === 0">Delete</button></li>
                        </ul>
                    </div>
                    <button class="btn btn-custom d-flex align-items-center gap-2">
                        <i class="fe fe-plus"></i>
                        Add Customer
                    </button>
                </div>
            </div>
        </div>

        <div class="card mb-0 ">
            <div class="table-responsive mb-2">
                <table class="table table-sm table-nowrap card-table table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="w-5">
                                <input class="form-check-input" type="checkbox" [checked]="selectAll"
                                    (change)="toggleSelectAll()" />
                            </th>
                            <th class="w-15">Customer</th>
                            <th class="w-15">Email</th>
                            <th class="w-15">Phone</th>
                            <th class="w-10">Total Orders</th>
                            <th class="w-10">Total Spend</th>
                            <th class="w-10">Last Order</th>
                            <!-- <th class="w-10">Category</th> -->
                            <th class="w-10">Status</th>
                            <th class="w-10">Actions</th>
                        </tr>
                    </thead>


                     <tbody *ngIf="(isLoading$ | async)">
                        <tr *ngFor="let _ of [].constructor(size)">
                            <td style="padding: 8px 0px 0px 20px;">
                                <ngx-skeleton-loader appearance="line" animation="progress-dark"
                                    [theme]="{ width: '18px', height: '18px', 'border-radius': '4px', margin: '0' ,padding: '0' }"></ngx-skeleton-loader>
                            </td>
                            <td style="padding: 15px 0px 0px 18px;">
                                <div class="d-flex align-items-center gap-3">
                                    <ngx-skeleton-loader appearance="line" animation="progress-dark"
                                        [theme]="{ width: '46px', height: '46px', 'border-radius': '50%' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader appearance="line" animation="progress-dark"
                                        [theme]="{ width: '120px', height: '18px', 'border-radius': '6px' }"></ngx-skeleton-loader>
                                </div>
                            </td>
                            <td *ngFor="let __ of [].constructor(7)" style="padding:27.25px 10px;">
                                <ngx-skeleton-loader appearance="line" animation="progress-dark"
                                    [theme]="{ width: '60%', height: '16px', 'border-radius': '6px', margin: '0' }"></ngx-skeleton-loader>
                            </td>
                        </tr>
                    </tbody>

                    <!-- Data -->
                    <tbody *ngIf="!(isLoading$ | async)">
                        <tr *ngFor="let c of customers">
                            <td>
                                <input class="form-check-input" type="checkbox" [checked]="selectedIds.has(c.id)"
                                    (change)="toggleRow(c.id, $event)" />
                            </td>

                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <img [src]="c.avatar" alt="avatar" class="avatar rounded-circle cursor-pointer"
                                        (click)="openImageModal(c.avatar || 'assets/img/blank.png')">
                                    <div class="fw-semibold text-dark">{{ c.name }}</div>
                                </div>
                            </td>

                            <td class="text-muted">{{ c.email }}</td>
                            <td class="text-muted">{{ c.phone }}</td>
                            <td class="text-muted">{{ c.totalOrders }}</td>
                            <td><span class="fw-semibold">${{ c.totalSpend | number:'1.2-2' }}</span></td>
                            <td class="text-muted">{{ c.lastOrder }}</td>
                            <!-- <td class="text-muted">{{ c.category }}</td> -->

                            <td>
                                <span class="pill" [ngClass]="getStatusPillClass(c.status)">
                                    {{ c.status === 'active' ? 'Active' : 'Inactive' }}
                                </span>
                            </td>

                            <td>
                                <div class="btn-group dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                        <i class="fe fe-more-vertical black-menu fs-3"></i>
                                    </span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item">
                                                <i class="fe fe-eye me-2"></i>View
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item">
                                                <i class="fe fe-edit me-2"></i>Edit
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="m-2" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item">
                                                <i class="fe fe-trash-2 text-danger me-2"></i>
                                                <span class="text-danger">Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Footer -->
            <div class="card-footer border-0 d-flex justify-content-between align-items-center flex-wrap gap-2">
                <small class="text-muted">
                    Showing {{ customers.length ? ( (page-1)*size + 1 ) : 0 }}
                    -
                    {{ (page-1)*size + customers.length }}
                    of {{ totalCount }} customers
                </small>

                <!-- لو عندك كومبوننت جاهز -->
                <app-pagination [isLoading$]="isLoading$" [totalRecords]="totalCount" [size]="size"
                    (pageChange)="list($event)">
                </app-pagination>
            </div>
        </div>

        

    </div>

</div>