<div class="settings-container" data-aos="fade-up">
  <h2 class="settings-title" data-aos="fade-right" data-aos-delay="100">Settings</h2>

  <div class="card rounded-2 mt-4" data-aos="zoom-in" data-aos-delay="200">
    <!-- Tabs -->
    <div class="tabs d-flex position-relative">
      <button
        #tabBtn
        class="tab-btn"
        [class.active]="activeTab === 'sales-settings'"
        (click)="setTab('sales-settings')"
        data-aos="fade-up" data-aos-delay="300">
        Sales Settings
      </button>

      <button
        #tabBtn
        class="tab-btn"
        [class.active]="activeTab === 'general-settings'"
        (click)="setTab('general-settings')"
        data-aos="fade-up" data-aos-delay="350">
        General Settings
      </button>

      <button
        #tabBtn
        class="tab-btn"
        [class.active]="activeTab === 'email-campaign'"
        (click)="setTab('email-campaign')"
        data-aos="fade-up" data-aos-delay="400">
        Email Campaign
      </button>

      <!-- Underline المتحرك -->
      <div
        class="tab-underline-dynamic"
        [ngStyle]="{ left: underlineLeft + 'px', width: underlineWidth + 'px' }">
      </div>
    </div>

    <!-- Tab content -->
    <div class="tab-content p-4" [@tabSlide]="activeTab" data-aos="fade-in" data-aos-delay="600">
      <ng-container *ngIf="activeTab === 'sales-settings'">
        <app-sales-settings></app-sales-settings>
      </ng-container>

      <ng-container *ngIf="activeTab === 'general-settings'">
        <app-general-settings></app-general-settings>
      </ng-container>

      <ng-container *ngIf="activeTab === 'email-campaign'">
        <app-email-campaign></app-email-campaign>
      </ng-container>
    </div>
  </div>
</div>
