.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #5bbdb660 0%, #a8e7e35b 50%, #e0f7f665 100%);
  /* بديل ناعم للوردي الغامق */
}

ng-lottie,
.lottie-container {
  background: transparent !important;
  mix-blend-mode: multiply; /* يعطي اندماج ناعم للشفافيات */
}

img, svg {
  mix-blend-mode: multiply;
  background: transparent !important;
}


.lottie-wrapper {
  background: linear-gradient(to bottom right, #fff0f7, #fff);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
