<div class="container py-5">
  <!-- العنوان -->
  <div class="text-center pt-4 mb-4" data-aos="fade-up" data-aos-duration="800">
    <h3 class="section-title st-divider mb-0" data-aos="fade-up" data-aos-duration="800">{{ title }} <span
        class="dot"></span></h3>
  </div>

  <!-- الشاشات -->
  <div class="row justify-content-center g-4 g-lg-5">
    <div 
      class="col-6 col-md-3" 
      *ngFor="let preview of appPreviews; let i = index; trackBy: trackById"
      data-aos="fade-up" 
      [attr.data-aos-delay]="aosDelay(i)" 
      data-aos-duration="1000">
      <div class="screen-wrap mx-auto">
        <img 
          [src]="preview.image" 
          [alt]="'App Preview ' + (i + 1)"
          class="img-fluid"
          loading="lazy"
          (error)="onImageError($event, i)">
      </div>
    </div>
  </div>
</div>