<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <h2 class="header-title">
            <lucide-icon [name]="'layers'"></lucide-icon>
            Features <small>({{ totalCount }})</small>
          </h2>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-sm btn-custom rounded-pill px-3"
            (click)="add()"
          >
            <i class="fe fe-plus me-2"></i>
            <span>Add Feature</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div
        class="d-flex align-items-center input-group-merge input-group-flush input-group position-relative w-50"
      >
        <i class="fe fe-search text-muted position-absolute mb-1 me-3"></i>
        <input
          [(ngModel)]="searchText"
          class="form-control m-0 ps-4"
          placeholder="Type to search..."
          (ngModelChange)="onSearchChange()"
        />
      </div>

      <div class="d-flex align-items-center gap-3">
        <button
          class="btn btn-sm btn-danger d-flex align-items-center gap-2"
          (click)="reset()"
        >
          <i class="fe fe-rotate-ccw"></i>
          <span>Reset</span>
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-nowrap card-table table-hover">
        <thead>
          <tr>
            <th class="w-5">#NO</th>
            <th class="w-10">Image</th>
            <th class="w-25">Title</th>
            <th class="w-55">Description</th>
            <th class="w-5">Actions</th>
          </tr>
        </thead>

        <!-- Loading skeletons -->
        <tbody *ngIf="isLoading$ | async">
          <tr *ngFor="let number of [].constructor(size + 1)">
            <td *ngFor="let i of [].constructor(5)">
              <ngx-skeleton-loader
                appearance="line"
                animation="progress-dark"
                [theme]="{
                  width: '70%',
                  height: '34px',
                  'border-radius': '3px',
                  margin: '0'
                }"
              >
              </ngx-skeleton-loader>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!(isLoading$ | async)">
          <tr *ngFor="let feature of features; let i = index">
            <td>#{{ i + 1 }}</td>
            <td>
              <img
                [src]="feature.image || 'assets/img/blank.png'"
                alt="profile image"
                class="avatar-img avatar rounded-circle cursor-pointer"
                (click)="openImageModal(feature.image || 'assets/img/blank.png')"
              />
            </td>
            <td>
              <span class="text-primary fw-semibold">{{ feature.title }}</span>
            </td>
            <td>
              {{ feature.description | maxLength: 80 }}
            </td>
            <td>
              <div class="btn-group dropstart">
                <span data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fe fe-more-vertical black-menu fs-2"></i>
                </span>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" (click)="edit(feature)">
                      <i class="fe fe-edit me-2"></i>Edit
                    </a>
                  </li>
                  <li>
                    <hr class="m-2" />
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="delete(feature)">
                      <i class="fe fe-trash-2 text-danger me-2"></i>
                      <span class="text-danger">Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-no-results
      [isLoading$]="isLoading$"
      [totalRecords]="totalCount"
    ></app-no-results>
    <app-pagination
      [isLoading$]="isLoading$"
      [totalRecords]="totalCount"
      [size]="size"
      (pageChange)="list($event)"
    >
    </app-pagination>
  </div>
</div>
