<!-- Topbar (ثابت فوق) -->
<div class="topbar fixed-top d-none d-lg-block mb-5" data-aos="fade-left" data-aos-duration="600">
  <div
    class="container-fluid px-3 px-md-4 px-xl-5 d-flex flex-column flex-md-row justify-content-between align-items-center gap-lg-2">

    <!-- Contact -->
    <div class="contact small text-center text-md-start" data-aos="fade-right" data-aos-delay="100">
      <span class="me-md-3 d-block d-md-inline">Contact: {{ phone }}</span>
      <span class="d-block d-md-inline">{{ email }}</span>
    </div>

    <!-- Socials -->
    <div class="socials text-center text-md-end" data-aos="fade-left" data-aos-delay="200">
      <a *ngIf="socials.facebook" [href]="socials.facebook" target="_blank" rel="noopener"><i
          class="fa-brands fa-facebook-f"></i></a>
      <a *ngIf="socials.twitter" [href]="socials.twitter" target="_blank" rel="noopener"><i
          class="fa-brands fa-x-twitter"></i></a>
      <a *ngIf="socials.instagram" [href]="socials.instagram" target="_blank" rel="noopener"><i
          class="fa-brands fa-instagram"></i></a>
      <a *ngIf="socials.pinterest" [href]="socials.pinterest" target="_blank" rel="noopener"><i
          class="fa-brands fa-pinterest-p"></i></a>
      <a *ngIf="socials.youtube" [href]="socials.youtube" target="_blank" rel="noopener"><i
          class="fa-brands fa-youtube"></i></a>
      <a *ngIf="socials.tiktok" [href]="socials.tiktok" target="_blank" rel="noopener"><i
          class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>
</div>


<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg bg-white border-bottom lp-navbar with-topbar" [class.scrolled]="scrolled"
  data-aos="fade-down" data-aos-duration="700">
  <div class="w-100 d-flex justify-content-between align-items-center px-3 px-md-4 px-xl-5">

    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center me-2" [routerLink]="['/']" data-aos="fade-left"
      data-aos-delay="150">
      <img src="assets/img/landing/logo.svg" alt="Logo" class="logo">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler ms-auto d-lg-none" type="button" aria-controls="lpNavbar"
      [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
      data-aos="fade-left" data-aos-delay="150">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links (Desktop) -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="lpNavbar">
      <ul class="navbar-nav mx-lg-auto gap-lg-3 lp-navbar-links">
        <li class="nav-item" *ngFor="let link of navLinks; let i = index" [attr.data-aos]="'fade-up'"
          [attr.data-aos-delay]="200 + (i * 80)">
          <a class="nav-link text-decoration-none" [class.active]="isActive(link)" href=""
            (click)="handleLinkClick(link, $event)">
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Actions (Desktop) -->
    <div class="d-none d-lg-flex align-items-center gap-3 lp-actions" data-aos="fade-left" data-aos-delay="300">
      <a class="icon-btn" [routerLink]="['/search']"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a class="icon-btn" [routerLink]="['/account']"><i class="fa-solid fa-user"></i></a>
      <a class="icon-btn cart-icon position-relative" [routerLink]="['/cart']">
        <i class="fa-solid fa-cart-shopping"></i>
        <span *ngIf="cartCount > 0" class="cart-badge" [class.bump]="bumpAnim">{{ cartCount }}</span>
      </a>
    </div>
  </div>

  <!-- Mobile Slide Menu -->
  <div class="mobile-menu d-lg-none" [class.open]="!isCollapsed" data-aos="fade-right" data-aos-duration="600">
    <button class="btn-close ms-auto mb-4" aria-label="Close" (click)="isCollapsed = true"></button>

    <ul class="navbar-nav flex-column text-center w-100">
      <li class="nav-item" *ngFor="let link of navLinks; let i = index" [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="150 + (i * 80)">
        <a class="nav-link" [class.active]="isActive(link)" (click)="handleLinkClick(link, $event)">
          {{ link.label }}
        </a>
      </li>
    </ul>

    <!-- Mobile Actions -->
    <div class="mt-3 d-flex justify-content-center gap-4" data-aos="fade-up" data-aos-delay="500">
      <a class="text-dark" [routerLink]="['/search']"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a class="text-dark" [routerLink]="['/account']"><i class="fa-solid fa-user"></i></a>
      <div class="cart-icon-wrapper" [class.bump]="bumpAnim">
        <a class="text-dark position-relative" [routerLink]="['/cart']">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </a>
      </div>
    </div>

    <!-- Mobile Socials -->
    <div class="mt-4 d-flex justify-content-center gap-3 social-mobile" data-aos="fade-up" data-aos-delay="600">
      <a *ngIf="socials.facebook" [href]="socials.facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a *ngIf="socials.twitter" [href]="socials.twitter" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a *ngIf="socials.instagram" [href]="socials.instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a *ngIf="socials.pinterest" [href]="socials.pinterest" target="_blank"><i
          class="fa-brands fa-pinterest-p"></i></a>
      <a *ngIf="socials.youtube" [href]="socials.youtube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a *ngIf="socials.tiktok" [href]="socials.tiktok" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>
</nav>