<div class="card shadow-sm equal-height-card">
    <div class="card-header fw-bold d-flex align-items-center">
        <h4>
            <i class="fa fa-chart-line me-2"></i>
            <span>Weekly Orders</span>
        </h4>
    </div>
    <div class="card-body" [style.height]="'calc(100dvh - 335px)'">
        <apx-chart [series]="chartOptionsWeeklyOrders.series" [chart]="chartOptionsWeeklyOrders.chart"
            [xaxis]="chartOptionsWeeklyOrders.xaxis" [dataLabels]="chartOptionsWeeklyOrders.dataLabels"
            [stroke]="chartOptionsWeeklyOrders.stroke" [colors]="chartOptionsWeeklyOrders.colors"
            [tooltip]="chartOptionsWeeklyOrders.tooltip" [fill]="chartOptionsWeeklyOrders.fill"
            [legend]="chartOptionsWeeklyOrders.legend">
        </apx-chart>

    </div>
</div>