<div class="card shadow-sm equal-height-card" data-aos="fade-up" data-aos-duration="700">
  <div class="card-header fw-bold d-flex align-items-center justify-content-between" 
       data-aos="fade-down" data-aos-duration="600">
    <h4 class="m-0">
      <span class="fw-bold">Leads Per Day</span>
    </h4>
  </div>

  <div class="card-body" [style.height]="'calc(100dvh - 462px)'">
    <div class="chart-wrapper" 
         data-aos="zoom-in" data-aos-duration="800"
         [@chartAnimation] [@chartUpdate]="animationState">
      <apx-chart [series]="chartOptionsRevenue.series" [chart]="chartOptionsRevenue.chart"
                 [xaxis]="chartOptionsRevenue.xaxis" [dataLabels]="chartOptionsRevenue.dataLabels"
                 [stroke]="chartOptionsRevenue.stroke" [colors]="chartOptionsRevenue.colors"
                 [tooltip]="chartOptionsRevenue.tooltip" [markers]="chartOptionsRevenue.markers"
                 [legend]="chartOptionsRevenue.legend" [responsive]="chartOptionsRevenue.responsive"
                 [grid]="chartOptionsRevenue.grid" [yaxis]="chartOptionsRevenue.yaxis">
      </apx-chart>
    </div>
  </div>
</div>
