<div class="catalog-container" data-aos="fade-up">
  <h2 class="catalog-title" data-aos="fade-right">Catalog</h2>

  <div class="card rounded-2 mt-4" data-aos="zoom-in">
    <!-- Tabs -->
    <div class="tabs d-flex position-relative">
      <button #tabBtn *ngIf="publicService.hasPermission('VIEW_BOOKS')" class="tab-btn"
        [class.active]="activeTab === 'books'" (click)="setTab('books')" data-aos="fade-up" data-aos-delay="100">
        <i class="fe fe-book me-2"></i> Books
      </button>

      <button #tabBtn *ngIf="publicService.hasPermission('VIEW_CATEGORIES')" class="tab-btn"
        [class.active]="activeTab === 'categories'" (click)="setTab('categories')" data-aos="fade-up" data-aos-delay="200">
        <i class="fe fe-layers me-2"></i> Categories
      </button>

      <button #tabBtn *ngIf="publicService.hasPermission('VIEW_FILES')"
        class="tab-btn" [class.active]="activeTab === 'files'" (click)="setTab('files')" data-aos="fade-up" data-aos-delay="300">
        <i class="fe fe-folder me-2"></i> Files & Assets
      </button>

      <!-- Underline المتحرك -->
      <div class="tab-underline-dynamic" 
           [ngStyle]="{ left: underlineLeft + 'px', width: underlineWidth + 'px' }">
      </div>
    </div>

    <!-- Tab content -->
    <div class="tab-content" [@tabSlide]="activeTab" data-aos="fade-in" data-aos-delay="400">
      <ng-container *ngIf="activeTab === 'books'">
        <app-books></app-books>
      </ng-container>

      <ng-container *ngIf="activeTab === 'categories'">
        <app-categories></app-categories>
      </ng-container>

      <ng-container *ngIf="activeTab === 'files'">
        <app-files></app-files>
      </ng-container>
    </div>
  </div>
</div>
