.newsletter-section {
  background-color: #E0F3F2; /* الخلفية */
  /* border-radius: 12px; */
}

.newsletter-form {
  max-width: 600px;
  margin: 0 auto;
}

.newsletter-form input {
  border-radius: 8px;
  min-width: 280px;
  padding: 10px 14px;
  font-size: 0.95rem;
}
