.restaurant-img {
  max-height: 200px;
  object-fit: cover;
  border: 3px solid #e72f85;
  border-radius: 15px;
}

.image-wrapper {
  display: inline-block;
  padding: 6px;
  border-radius: 14px;
  border: 2px dashed #e72f85;
}

.text-pink {
  color: #e72f85 !important;
}

.btn-pink {
  background-color: #e72f85;
  color: white;
  border: none;
  border-radius: 8px;
}
.btn-pink:hover {
  background-color: #d1227c;
  color: white;
}

.spinner-border.text-pink {
  color: #e72f85;
}

.fs-5 {
  font-size: 1.15rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}
