<div class="order-summary-card" data-aos="fade-up" data-aos-duration="900">

  <h5 class="fw-bold mb-3" data-aos="fade-down" data-aos-delay="100">
    Order Summary
  </h5>

  <div class="d-flex justify-content-between mb-2" data-aos="fade-right" data-aos-delay="200">
    <span>Subtotal</span>
    <span>{{ subtotal | currency:'USD' }}</span>
  </div>

  <div class="d-flex justify-content-between mb-2" data-aos="fade-right" data-aos-delay="300">
    <span>Shipping</span>
    <span>{{ shipping | currency:'USD' }}</span>
  </div>

  <hr data-aos="fade-in" data-aos-delay="400">

  <div class="d-flex justify-content-between fw-bold mb-3" data-aos="fade-left" data-aos-delay="500">
    <span>Total</span>
    <span>{{ total | currency:'USD' }}</span>
  </div>

  <button class="btn w-100 action-btn" [ngClass]="actionType" [disabled]="loading" (click)="handleClick()"
    data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800">

    <ng-container *ngIf="!loading; else spinner">
      {{ actionLabel }}
    </ng-container>

    <ng-template #spinner>
      <span class="spinner-border spinner-border-sm me-2"></span>
      Processing...
    </ng-template>
  </button>
</div>