<div class="container py-5">
    <div class="row text-center justify-content-center py-4 g-4 g-lg-5">
        <div class="col-6 col-md-3" *ngFor="let row of tokens; index as mi" data-aos="fade-up"
            [attr.data-aos-delay]="mi * 200" data-aos-duration="1000">
            <div class="metric-item">
                <div class="metric-value mb-2">
                    <!-- نبني الرقم/النص من توكنز -->
                    <ng-container *ngFor="let t of row; index as ti">
                        <!-- خانة رقمية تعمل Flip -->
                        <span *ngIf="t.kind === 'digit'; else charTpl" class="flip-col" [attr.data-mindex]="mi"
                            [attr.data-tindex]="ti" [attr.data-target]="t.digit">
                            <span class="digits">
                                <span class="digit">0</span>
                                <span class="digit">1</span>
                                <span class="digit">2</span>
                                <span class="digit">3</span>
                                <span class="digit">4</span>
                                <span class="digit">5</span>
                                <span class="digit">6</span>
                                <span class="digit">7</span>
                                <span class="digit">8</span>
                                <span class="digit">9</span>
                            </span>
                        </span>

                        <!-- محارف ثابتة مثل , . % + / -->
                        <ng-template #charTpl>
                            <span class="static-ch">{{ $any(t).ch }}</span>
                        </ng-template>
                    </ng-container>
                </div>

                <div class="metric-label text-muted">{{ metrics[mi].label }}</div>
            </div>
        </div>
    </div>
</div>