<div class="main-layout d-flex h-100">
  <!-- 🔹 Fullscreen Lottie Overlay -->
  <app-lottie-overlay [visible]="lottieConfig.visible" [options]="lottieConfig.options"
    [message]="lottieConfig.message || ''" [messageClass]="lottieConfig.messageClass || ''">
  </app-lottie-overlay>

  <!-- 🔹 Sidebar -->
  <app-side-bar></app-side-bar>

  <!-- 🔹 Wrapper -->
  <div class="main-content-wrapper flex-grow-1 d-flex flex-column">
    <app-header></app-header>
    <!-- 🔹 Main Content -->
    <div class="main-content flex-grow-1 mt-5 py-4" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <!-- 🔹 Footer -->
    <footer class="main-footer text-center">
      Copyright © {{ currentYear }} Elev8 Clubs. All Rights Reserved.
    </footer>
  </div>
</div>