<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Change Password</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" class="form-control" formControlName="newPassword"
             [ngClass]="{ 'is-invalid': submitted && f['newPassword'].invalid }" />
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword"
             [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].invalid }" />
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" (click)="activeModal.dismiss()">
      <i class="fe fe-x me-2"></i> Cancel
    </button>

    <button type="submit" class="btn btn-sm btn-custom"
            [disabled]="httpService.getLoading('changePassword') | async">
      <ng-container *ngIf="httpService.getLoading('changePassword') | async">
        <span class="spinner-border spinner-border-sm me-2"></span> Saving...
      </ng-container>
      <ng-container *ngIf="!(httpService.getLoading('changePassword') | async)">
        <i class="fe fe-check me-2"></i> Save
      </ng-container>
    </button>
  </div>
</form>
