<div class="card shadow-sm" data-aos="fade-up" data-aos-duration="700">
    <div class="card-header fw-bold">Recent Orders</div>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead data-aos="fade-down" data-aos-duration="600">
                <tr>
                    <th class="w-25">Book</th>
                    <th class="w-25">Customer</th>
                    <th class="w-20">Date</th>
                    <th class="w-10">Status</th>
                    <th class="w-10">Amount</th>
                    <th class="text-center w-10">Actions</th>
                </tr>
            </thead>

            <!-- Skeleton loader -->
            <tbody *ngIf="isLoading">
                <tr *ngFor="let i of [].constructor(orders.length); let idx = index" [attr.data-aos]="'fade-up'"
                    [attr.data-aos-delay]="idx * 100" data-aos-duration="600">
                    <td *ngFor="let i of [].constructor(6)">
                        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{
                width: '50%',
                height: '32px',
                'border-radius': '3px',
                margin: '0'
              }">
                        </ngx-skeleton-loader>
                    </td>
                </tr>
            </tbody>

            <!-- Data -->
            <tbody *ngIf="!isLoading">
                <tr *ngFor="let order of orders; let idx = index" [attr.data-aos]="'fade-up'"
                    [attr.data-aos-delay]="idx * 100" data-aos-duration="600">
                    <td>
                        <img [src]="order.img" class="rounded me-2 cursor-pointer" width="40" height="40"
                            (click)="openImageModal(order.img)" />
                        {{ order.book }}
                    </td>
                    <td>{{ order.customer }}</td>
                    <td class="text-muted">{{ order.date }}</td>
                    <td>
                        <span class="badge px-3 py-2 rounded-pill" [ngClass]="getStatusClass(order.status)">
                            {{ order.status | titlecase }}
                        </span>
                    </td>
                    <td>${{ order.amount }}</td>
                    <td class="text-center">
                        <i class="fe fe-edit me-3 action-edit"></i>
                        <i class="fe fe-trash action-delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>