<div class="body d-flex align-items-center justify-content-center">
  
  <!-- 🎵 عناصر متحركة هادئة للخلفية -->
  <div class="floating-audio-elements">
    
    <!-- موجات صوتية متحركة -->
    <div class="sound-wave wave-1"></div>
    <div class="sound-wave wave-2"></div>
    <div class="sound-wave wave-3"></div>
    <div class="sound-wave wave-4"></div>
    
    <!-- كتب عائمة -->
    <div class="floating-book book-1"></div>
    <div class="floating-book book-2"></div>
    <div class="floating-book book-3"></div>
    
    <!-- سماعات عائمة -->
    <div class="floating-headphone headphone-1"></div>
    <div class="floating-headphone headphone-2"></div>
    
    <!-- نجوم لامعة صغيرة -->
    <div class="twinkling-star star-small-1"></div>
    <div class="twinkling-star star-small-2"></div>
    <div class="twinkling-star star-small-3"></div>
    <div class="twinkling-star star-small-4"></div>
    <div class="twinkling-star star-small-5"></div>
    
    <!-- دوائر متموجة ناعمة -->
    <div class="soft-circle circle-soft-1"></div>
    <div class="soft-circle circle-soft-2"></div>
    <div class="soft-circle circle-soft-3"></div>
    
    <!-- خطوط موسيقية متحركة -->
    <div class="music-line line-music-1"></div>
    <div class="music-line line-music-2"></div>
    
    <!-- موجات راديو دائرية -->
    <div class="radio-wave radio-1"></div>
    <div class="radio-wave radio-2"></div>
    
  </div>

  <div class="container position-relative z-2">
    <div class="row">
      <div class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center">
        <div class="text-center mb-5 d-block d-md-none">
          <ng-lottie [options]="options" width="250px" height="250px"></ng-lottie>
        </div>
        <div class="text-center d-none d-md-block">
          <ng-lottie [options]="options" width="400px" height="400px"></ng-lottie>
        </div>
      </div>
      <div class="col-12 offset-md-1 col-md-5 order-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>