<div class="bg-auth p-5 border rounded-4 shadow-sm">

  <h1 class="display-4 text-center mb-3">Sign in</h1>
  <p class="text-muted text-center mb-5">Please enter login information</p>

  <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>

    <!-- Alert -->
    <ngb-alert 
      *ngIf="message" 
      [type]="messageType" 
      (closed)="showMsg(false, '')">
      {{ message }}
    </ngb-alert>

    <!-- Email -->
    <div class="form-group mb-3">
      <label class="form-label">E-mail :</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter your email"
        [ngClass]="{
          'is-invalid': f.email.invalid && loginForm.touched,
          'is-valid': f.email.valid && loginForm.touched
        }"
      />
    </div>

    <!-- Password -->
    <div class="form-group mb-4">
      <label class="form-label">Password :</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter your password"
        [ngClass]="{
          'is-invalid': f.password.invalid && loginForm.touched,
          'is-valid': f.password.valid && loginForm.touched
        }"
      />
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="btn btn-lg w-100 btn-custom"
      [disabled]="isLoginLoading"
    >
      <ng-container *ngIf="isLoginLoading; else ready">
        <span class="spinner-border spinner-border-sm me-2"></span>
        Signing in...
      </ng-container>

      <ng-template #ready>
        Sign in
      </ng-template>
    </button>

  </form>
</div>
