<div class="hero position-relative text-white d-flex align-items-center justify-content-center">

  <!-- الخلفية -->
  <div class="hero-bg">
    <img [src]="background" alt="Featured Background">
    <img src="assets/img/landing/featured-author/overlay.png" alt="Overlay" class="hero-overlay">
  </div>

  <div class="container position-relative z-2 text-center">
    <div class="row justify-content-center mt-4">
      <!-- النص -->
      <div class="col-lg-8 mt-5">
        <h1 class="hero-title fx-shimmer fx-underline mb-3"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="1000">
          {{ title }}
        </h1>
        <p class="hero-subtitle fx-shimmer mb-4"
           data-aos="fade-up"
           data-aos-delay="600"
           data-aos-duration="1000">
          {{ subtitle }}
        </p>
      </div>
    </div>
  </div>
</div>
