.text-dark{
    color: #374151 !important;
}

.search-box {
  max-width: 320px;
}

.search-icon {
  position: absolute;
  top: 49%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #9ca3af; /* رمادي فاتح */
  pointer-events: none; /* ما يخلي الأيقونة تمنع الكليك */
}

.search-input {
  border-radius: 8px;
  font-size: 14px;
  padding: 6px 12px;
}
