.modal-header {
  position: relative;

  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  small {
    font-size: 0.85rem;
    display: block;
    margin-top: 2px;
  }

  .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
