<app-navbar [iosAppLink]="settings['link_ios_app']" [androidAppLink]="settings['link_android_app']">
</app-navbar>

<div class="container my-5 py-5">
  <!-- Stepper -->
  <div class="stepper d-flex justify-content-center my-5" data-aos="fade-down" data-aos-duration="800">
    <ng-container *ngFor="let step of steps; let i = index">
      <div class="step d-flex align-items-center" data-aos="fade-up" data-aos-duration="800"
        [attr.data-aos-delay]="i * 200" (click)="goToStep(step)"
        [class.cursor-pointer]="allowBackNavigation && step.index < activeStep">
        <div class="circle" [class.active]="activeStep === step.index">{{ step.index }}</div>
        <div class="label ms-2 me-3" [class.active-label]="activeStep === step.index">
          {{ step.label }}
        </div>
        <div *ngIf="i < steps.length - 1" class="line"></div>
      </div>
    </ng-container>
  </div>


  <!-- محتوى الخطوات -->
  <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer [description]="settings['footer_title']" [facebook]="settings['facebook']" [twitter]="settings['twitter']"
  [linkedin]="settings['linkedin']" [instagram]="settings['instagram']" data-aos="fade-up" data-aos-duration="800">
</app-footer>