<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="header-title">
                        <i class="fe fe-shopping-cart me-2"></i>
                        Orders <small>({{ totalCount }})</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">
            <div
                class="d-flex align-items-center input-group-merge input-group-flush input-group position-relative w-50">
                <i class="fe fe-search text-muted position-absolute mb-1 me-3"></i>
                <input [(ngModel)]="searchText" class="form-control m-0 ps-4" placeholder="Type to search..."
                    (ngModelChange)="searchChanged.next(searchText)" />
            </div>

            <div class="d-flex align-items-center gap-3">
                <app-modern-select [options]="statusOptions" [(ngModel)]="statusFilter"
                    (selectionChange)="onFilterChange()" placeholder="All Statuses" [icon]="'fe fe-filter'"
                    [clearable]="true" size="sm" minWidth="160px">
                </app-modern-select>

                <button class="btn btn-sm btn-danger d-flex align-items-center gap-2" (click)="reset()">
                    <i class="fe fe-rotate-ccw"></i>
                    <span>Reset</span>
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table table-hover">
                <thead>
                    <tr>
                        <th class="w-5">#NO</th>
                        <th *ngFor="let col of columns" [ngClass]="col.width">{{ col.label }}</th>
                        <th class="w-10">Actions</th>
                    </tr>
                </thead>


                <tbody *ngIf="(isLoading$ | async) === false && orders.length > 0">
                    <tr *ngFor="let order of orders; let i = index">
                        <td>#{{ i + 1 }}</td>
                        <td *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.key">
                                <ng-container *ngSwitchCase="'status_title'">
                                    <div class="dropdown">
                                        <span class="p-2 badge bg-custom text-white dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false" role="button" style="font-size: 13px; width: 75px;">
                                            {{ order.status_title }}
                                        </span>

                                        <ul class="dropdown-menu dropdown-menu-end shadow-sm"
                                            style="font-size: 13px; min-width: 140px;">
                                            <li *ngFor="let s of statusOptions.slice(1)">
                                                <a class="dropdown-item" [class.active]="s.value === order.status_value"
                                                    (click)="onStatusChange(order, s.value)">
                                                    {{ s.label }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    {{ order[col.key] || '-' }}
                                </ng-container>
                            </ng-container>
                        </td>
                        <td>
                            <div class="btn-group dropstart">
                                <span data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fe fe-more-vertical black-menu fs-2"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" (click)="show(order)">
                                            <i class="fe fe-eye me-2"></i>View
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>


                <tbody *ngIf="isLoading$ | async">
                    <tr *ngFor="let number of [].constructor(size+1)">
                        <td *ngFor="let i of [].constructor(columns.length + 2)">
                            <ngx-skeleton-loader appearance="line" animation="progress-dark"
                                [theme]="{width:'50%',height:'24px','border-radius':'3px','margin':'0'}">
                            </ngx-skeleton-loader>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <app-no-results [isLoading$]="isLoading$" [totalRecords]="totalCount"></app-no-results>
        <app-pagination [isLoading$]="isLoading$" [totalRecords]="totalCount" [size]="size" (pageChange)="list($event)">
        </app-pagination>
    </div>

</div>