<section class="intro-trust text-center py-5">
  <div class="container">
    <!-- Title -->
    <h2 class="fw-bold mb-2" data-aos="fade-up" data-aos-delay="0">
      {{ sectionTitle }}
    </h2>
    <p class="text-muted mb-5" style="font-size: 20px;" data-aos="fade-up" data-aos-delay="100">
      {{ sectionDescription }}
    </p>

    <!-- Items -->
    <div class="row justify-content-center">
      <div 
        class="col-md-4 mb-4" 
        *ngFor="let item of items; let i = index"
        data-aos="zoom-in-up" 
        [attr.data-aos-delay]="i * 100 + 200">
        
        <div class="trust-item text-center">
          <div class="icon mb-3">
            <img [src]="item.icon" alt="{{item.title}}" width="48" height="48" />
          </div>
          <h5 class="fw-semibold">{{ item.title }}</h5>
          <p class="text-muted small mx-auto" style="max-width: 245px;">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
